
img{
  width: 700px;
  height: 450px;
  float: left;
  
}
h1{
  background-color: green;
  color: beige;
  text-align:left;
  float: left;
}
p{
  font-size: 30px;
 margin-top: 160px;
 background-color:yellow;
 color: black;
 float: right;

}
